@import "compass/reset";
@import "compass/css3";

li {
	display: inline;
	padding-right:60px;
}

a ,p{
	color:white;
	text-decoration:none;
}

body {

}

h1 {
	padding-top:20px;
	padding-bottom:10px;
	text-align:center;
	font-size:50px;
}

h2 {
	margin-bottom:20px;
	text-align:center;
	font-size:18px;
}

h3 {
	color:white;
	font-size:20px;
}

.content-header {
}

.content-center {
	text-align: center;
	padding:10px;
}

.opt-bar {
	padding:5px;
	background-color:black;
}

.opt-left {
    display: inline-block;
    margin-left:15%;
}

.opt-right {
    display: inline-block;
    margin-left:45%;
}

.opt-button {
    margin-bottom: 40px;
}

.opt-image {

}

.nav-bar {
	background-color:gray;
	padding:6px;
}

.logo {
	height:36px;
}

.menu {
    margin-left: 15%;
}

.orange-button {
    background-color: orange;
    padding: 5px;
    border-radius: 2px;
}

.blue-button {
	background: #2672AE;
    padding: 15px;
    border-radius: 2px;
    margin-right: 30px;
}

.transparent-button {
    padding: 15px;
    border-radius: 2px;
	border:solid 2px white;    
}

.white-button {
	background-color: white;
    padding: 15px;
    border-radius: 2px;
}

.white-button span {
	color: #2672AE;
} 

.footer {
	background-color:#3b3835;
}

.main {
	background-image: url(../images/background.png);
	text-align: center;
}

.center-message {
	margin-top:50px;

}

.center-message p{
	font-size:20px;
	padding: 0 450px;
    line-height: 1.5;
}

.left-img {
	position: relative;
    right: -160px;
    z-index: 1;
}

.middle-img {
    position: relative;
    right: -100px;
    z-index: 0;
}

.right-img {
    position: relative;
    left: -100px;
}

.step {
    display: inline-block;
    margin:0 40px;
}

.step-span {
	color:gray;
	font-size:15px;
}

.footer-span {
	color:gray;
	font-size:13px;
}

.angular-span {
    font-size: 50px;
    color: gray;
}

.linkedin-logo {
	position:relative;
	bottom:-14px;
}


