/* line 5, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
li {
  display: inline;
  padding-right: 60px;
}

/* line 9, ../sass/style.scss */
a, p {
  color: white;
  text-decoration: none;
}

/* line 18, ../sass/style.scss */
h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 50px;
}

/* line 25, ../sass/style.scss */
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

/* line 31, ../sass/style.scss */
h3 {
  color: white;
  font-size: 20px;
}

/* line 39, ../sass/style.scss */
.content-center {
  text-align: center;
  padding: 10px;
}

/* line 44, ../sass/style.scss */
.opt-bar {
  padding: 5px;
  background-color: black;
}

/* line 49, ../sass/style.scss */
.opt-left {
  display: inline-block;
  margin-left: 15%;
}

/* line 54, ../sass/style.scss */
.opt-right {
  display: inline-block;
  margin-left: 45%;
}

/* line 59, ../sass/style.scss */
.opt-button {
  margin-bottom: 40px;
}

/* line 67, ../sass/style.scss */
.nav-bar {
  background-color: gray;
  padding: 6px;
}

/* line 72, ../sass/style.scss */
.logo {
  height: 36px;
}

/* line 76, ../sass/style.scss */
.menu {
  margin-left: 15%;
}

/* line 80, ../sass/style.scss */
.orange-button {
  background-color: orange;
  padding: 5px;
  border-radius: 2px;
}

/* line 86, ../sass/style.scss */
.blue-button {
  background: #2672AE;
  padding: 15px;
  border-radius: 2px;
  margin-right: 30px;
}

/* line 93, ../sass/style.scss */
.transparent-button {
  padding: 15px;
  border-radius: 2px;
  border: solid 2px white;
}

/* line 99, ../sass/style.scss */
.white-button {
  background-color: white;
  padding: 15px;
  border-radius: 2px;
}

/* line 105, ../sass/style.scss */
.white-button span {
  color: #2672AE;
}

/* line 109, ../sass/style.scss */
.footer {
  background-color: #3b3835;
}

/* line 113, ../sass/style.scss */
.main {
  background-image: url(../images/background.png);
  text-align: center;
}

/* line 118, ../sass/style.scss */
.center-message {
  margin-top: 50px;
}

/* line 123, ../sass/style.scss */
.center-message p {
  font-size: 20px;
  padding: 0 450px;
  line-height: 1.5;
}

/* line 129, ../sass/style.scss */
.left-img {
  position: relative;
  right: -160px;
  z-index: 1;
}

/* line 135, ../sass/style.scss */
.middle-img {
  position: relative;
  right: -100px;
  z-index: 0;
}

/* line 141, ../sass/style.scss */
.right-img {
  position: relative;
  left: -100px;
}

/* line 146, ../sass/style.scss */
.step {
  display: inline-block;
  margin: 0 40px;
}

/* line 151, ../sass/style.scss */
.step-span {
  color: gray;
  font-size: 15px;
}

/* line 156, ../sass/style.scss */
.footer-span {
  color: gray;
  font-size: 13px;
}

/* line 161, ../sass/style.scss */
.angular-span {
  font-size: 50px;
  color: gray;
}

/* line 166, ../sass/style.scss */
.linkedin-logo {
  position: relative;
  bottom: -14px;
}
